@use '@angular/material' as mat;
@use 'mat-theme';

@include mat.core();
// @import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  // Apply the light theme by default
  // @include mat.all-component-themes(mat-theme.$light-theme);
  @include mat.core-theme(mat-theme.$light-theme);
  @include mat.button-theme(mat-theme.$light-theme);
  @include mat.icon-button-theme(mat-theme.$light-theme);
  @include mat.menu-theme(mat-theme.$light-theme);
  @include mat.radio-theme(mat-theme.$light-theme);

  // Material custom properies
  --mat-icon-button-state-layer-color: black;
  --mat-icon-button-disabled-state-layer-color: black;
  --mat-icon-button-ripple-color: rgba(0, 0, 0, .1);
  --mat-icon-button-hover-state-layer-opacity: .04;
  --mat-icon-button-focus-state-layer-opacity: .12;
  --mat-icon-button-pressed-state-layer-opacity: .12;
  --mat-menu-container-color: var(--primary-background-color);
  --mat-menu-item-label-text-color: var(--primary-color);
  --mdc-filled-button-container-shape: 8px;
  --mdc-filled-button-disabled-container-color: var(--disabled-button-background-color);
  --mat-radio-disabled-label-color: rgba(26, 28, 30, 0.6);
}

// Button
// https://v18.material.angular.io/components/button/overview

button.menu-btn {
  --mat-icon-button-touch-target-display: none;
}

[mat-flat-button] {
  &.pending {
    pointer-events: none;

    .mat-mdc-button-persistent-ripple {
      &::before {
        opacity: 0.3 !important;
      }
    }
  }
}

// Menu
// https://v18.material.angular.io/components/menu/overview

.mat-mdc-menu-panel {
  &.compact-menu {
    .mat-mdc-menu-item {
      min-height: 32px;

      &.warning {
        color: var(--error-color);
      }
    }
  }
}

// Input
// https://v18.material.angular.io/components/input/overview

.mat-mdc-input-element {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid var(--primary-border-color);
  outline: none;
  padding: 0 6px;

  &:focus-visible {
    border: 2px solid var(--primary-color);
  }

  &:disabled {
    border-color: var(--mdc-filled-button-disabled-container-color);
    background-color: var(--disabled-control-background-color);

    &::placeholder {
      color: rgba(26, 28, 30, 0.25);
    }
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

.ng-touched.ng-dirty.ng-invalid {
  .mat-mdc-input-element {
    border: 2px solid var(--error-color);
  }
}

// Drag&Drop
// https://v18.material.angular.io/cdk/drag-drop/overview

.cdk-drag.option {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  cursor: grab;

  & + .option {
    margin-top: 8px;
  }

  &.cdk-drag-placeholder {
    opacity: 0;
  }

  &.cdk-drag-preview {
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.4);
    pointer-events: all !important;
    cursor: grabbing;
  }
}

.cdk-drop-list-disabled {
  .cdk-drag.option {
    color: rgba(99, 99, 99, 0.6);
    border-color: var(--mdc-filled-button-disabled-container-color);
    background-color: var(--disabled-control-background-color);
    cursor: default;
  }
}

.ng-touched.ng-dirty.ng-invalid {
  .cdk-drag.option {
    &:nth-of-type(odd) {
      animation: flash 800ms ease-in-out, tremor-odd 800ms ease-in-out;
    }
    &:nth-of-type(even) {
      animation: flash 800ms ease-in-out, tremor-even 800ms ease-in-out;
    }
  }
}

@keyframes flash {
  0% {
    color: initial;
    border-color: initial;
  }
  25% {
    color: var(--error-color);
    border-color: var(--error-color);
  }
  75% {
    color: var(--error-color);
    border-color: var(--error-color);
  }
  100% {
    color: initial;
    border-color: initial;
  }
}

@keyframes tremor-odd {
  25% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}

@keyframes tremor-even {
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

// Radio
// https://v18.material.angular.dev/components/radio/overview

.mat-mdc-radio-button {
  --radio-button-background: var(--primary-background-color);

  .mdc-radio {
    &--disabled {
      --radio-button-background: transparent;
    }

    &__background {
      background-color: var(--radio-button-background);
      border-radius: 50%;
    }
  }
}

// SnackBar

.snackbar-error {
  --mdc-snackbar-container-color: var(--error-background-color);
  --mat-snack-bar-button-color: black;
  --mat-text-button-horizontal-padding: 0;

  .mat-mdc-snackbar-surface {
    padding: 0;
  }

  .mdc-button {
    min-width: 40px;
  }
}
