@use '@angular/material' as mat;
@use 'mat-theme' as *;

:root {
  --main-background-color: #ccd7df;
  --primary-color: #194267;
  --primary-background-color: aliceblue;
  --secondary-background-color: #f7f7f7;
  --error-color: #{mat.get-theme-color($light-theme, error, 40)};
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  background-color: var(--main-background-color);
}
