<header class="page-header">
  <h1 class="heading">Квест по Орлу</h1>
</header>

<div class="page-container">
  <p class="heading">Поехали!</p>
  @for (item of kvestsItems(); track item.id) {
    <div class="kvest-container">
      <a
        class="link"
        [routerLink]="[item.id]"
        [style.background-image]="'url(' + item.backImgUrl + ')'"
      >
        <span class="image-cover"></span>
        <span
          class="image-cover-img"
          [style.background-image]="'url(' + item.coverImgUrl + ')'"
        ></span>
        <span class="heading-container">
          <h2 class="heading">{{ item.title }}</h2>
        </span>
      </a>
    </div>
  }
</div>
