<header class="page-header">
  <h2 class="heading">
    {{ page() === null ? '404' : page()?.commonData?.title }}
  </h2>
  <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="headerMenu">
    <svg class="icon"><use href="assets/icons/more_vert.svg#icon" /></svg>
  </button>
  <mat-menu #headerMenu="matMenu" class="compact-menu">
    <a mat-menu-item [routerLink]="['/k']">Страница квестов</a>
    <button mat-menu-item class="warning" (click)="restart()">Начать квест заново</button>
  </mat-menu>
</header>

@if (page()) {
  <div class="page-container">
    <h1 class="heading">{{ page()?.title }}</h1>
    @if (page()?.image) {
      <div class="image-container">
        <exokv-picture [image]="page()?.image" />
      </div>
    }
    <div class="description-container">
      <exokv-description [content]="page()?.description" />

      @if (page()?.canSkip || !showSubmitButton()) {
        <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="pageMenu">
          <svg class="icon"><use href="assets/icons/more_vert.svg#icon" /></svg>
        </button>
        <mat-menu #pageMenu="matMenu" class="compact-menu">
          <button mat-menu-item (click)="skip()">Пропустить</button>
        </mat-menu>
      }
    </div>

    <div class="buttons-block">
      @if (page()?.last) {
        <a mat-flat-button [routerLink]="['/k']">Страница квестов</a>
      } @else {
        <exokv-kvest-challenge
          [formControl]="challengeControl"
          [challenge]="page()?.challenge"
          [mustPassChallenge]="mustPassChallenge()"
        />

        @if (showSubmitButton()) {
          <button
            mat-flat-button
            [class.pending]="pending()"
            [disabled]="!pending() && mustPassChallenge() && challengeControl.invalid"
            (click)="submit()"
          >
            @if (pending()) {
              <exokv-spinner />
            } @else {
              {{ submitButtonText() }}
            }
          </button>

          @if (showInitGeolocationButton()) {
            <button
              mat-flat-button
              [class.pending]="geolocationButtonPending()"
              (click)="initGeolocation()"
            >
              @if (geolocationButtonPending()) {
                <exokv-spinner />
              } @else {
                Проверить геолокацию
              }
            </button>
          }
        }
      }
    </div>
  </div>
}
