<header class="page-header">
  <h2 class="heading">
    {{ page() === null ? '404' : page()?.commonData?.name }}
  </h2>
  <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="headerMenu">
    <svg class="icon"><use href="assets/icons/more_vert.svg#icon" /></svg>
  </button>
  <mat-menu #headerMenu="matMenu" class="compact-menu">
    <a mat-menu-item [routerLink]="['/k']">Страница квестов</a>
  </mat-menu>
</header>

@if (page()) {
  <div class="page-container">
    <h1 class="heading">{{ page()?.title }}</h1>
    <div class="description-container">
      <p class="description">{{ page()?.description }}</p>
      @if (!page()?.last) {
        <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="pageMenu">
          <svg class="icon"><use href="assets/icons/more_vert.svg#icon" /></svg>
        </button>
        <mat-menu #pageMenu="matMenu" class="compact-menu">
          <button mat-menu-item (click)="goNext()">Пропустить</button>
        </mat-menu>
      }
    </div>

    @if (page()?.last) {
      <div class="buttons-block">
        <a mat-flat-button [routerLink]="['/k']">Страница квестов</a>
      </div>
    }
  </div>
}
