<header class="page-header">
  <h2 class="heading">
    {{ page() === null ? '404' : page()?.commonData?.name }}
  </h2>
</header>

@if (page()) {
  <div class="page-container">
    <h1 class="heading">{{ page()?.title }}</h1>
    <div class="description-container">
      <p class="description">{{ page()?.description }}</p>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-btn">
        <svg class="icon"><use href="assets/icons/more_vert.svg#icon" /></svg>
      </button>
      <mat-menu #menu="matMenu" class="compact-menu">
        <button mat-menu-item (click)="goNext()">Пропустить</button>
      </mat-menu>
    </div>
  </div>
}
