@switch (challenge()?.type) {
  @case ('input-text') {
    <input
      #inputText
      type="text"
      matInput
      placeholder="Введите ответ"
      [disabled]="!mustPassChallenge()"
      (input)="onInputText(inputText.value)"
    />
  }

  @case ('input-number') {
    <input
      #inputNumber
      type="number"
      min="0"
      matInput
      placeholder="Введите число"
      [disabled]="!mustPassChallenge()"
      (input)="onInputNumber(inputNumber.value)"
    />
  }

  @case ('arrange') {
    <div
      class="arrange-list"
      cdkDropList
      [cdkDropListDisabled]="!mustPassChallenge()"
      (cdkDropListDropped)="onDrop($event)"
    >
      @for (option of options(); track option.id) {
        <div class="option" cdkDrag>{{ option.title }}</div>
      }
    </div>
  }
}
