exokv-kvest-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .arrange-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
